<!-- User comment input field -->
<div class="comments">
    {{#each this}}
    <section class="comment post-color2">
        <div class="meta">
            {{user.username}}
        </div>
        <div class="text post-color2">
            {{comment_text}}
        </div>
    </section>
    {{/each}}
</div>

