<html land="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>The Recipe Pantry</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Lato:wght@300&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css" />
    <link rel="stylesheet" href="/stylesheets/style.css" />
</head>

<body>
    <div class="page">
        <header>
            <div class="row pantrybar">
                
                {{#if loggedIn}}
                <a class="col s12 m6 navtitle left" href="/">The Recipe Pantry</a>
                <ul class="col s12 m6 right">
                    <li><a class="navtabs"><button id="logout" class="btn-no-style">Logout</button></a></li>
                    <li><a class="navtabs" href="/dashboard">My Pantry</a></li>
                    <li><a class="navtabs" href="/homepage">Home</a></li>
                </ul>
                {{else}}

                <a class="col s12 m6 navtitle left" href="/">The Recipe Pantry</a>
                <ul class="col s12 m6 right">
                    <li><a class="navtabs" href="/login">Login</a></li>
                    <li><a class="navtabs" href="/homepage">Home</a></li>
                </ul>
                {{/if}}
            </div>
        </header>
        <main>

            {{{body}}}
        </main>
        <footer>
            The Recipe Pantry
        </footer>
    </div>

    {{#if loggedIn}}
    <script src="/javascript/logout.js"></script>
    {{/if}}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
</body>

</html>