<!DOCTYPE html>
<html land="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>The Recipe Pantry</title>
    <link href="https://fonts.googleapis.com/css?family=KoHo:wght@400;600;700&display=swap" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link rel="stylesheet" href="/stylesheets/style.css">
</head>

<body>
    <div class="wrapper">
        {{!-- <header> --}}
            <nav>
                <div>
                    <a class="navtitle left" href="/">The Recipe Pantry</a>
                    {{#if loggedIn}}
                    <ul class="right">
                        <li><a class="navtabs" href="/">Home</a></li>
                        <li><a class="navtabs" href="/dashboard">My Pantry</a></li>
                        <li><a class="navtabs"><button id="logout" class="btn-no-style">Logout</button></a></li>
                    </ul>
                    {{else}}
                    <ul class="right">
                        <li><a class="navtabs" href="/">Home</a></li>
                        <li><a class="navtabs" href="/login">Login</a></li>
                    </ul>
                    {{/if}}
                </div>
            </nav>
        {{!-- </header> --}}
        <main>
            {{{ body }}}
        </main>
        <footer>
            The Recipe Pantry
        </footer>
    </div>

    {{#if loggedIn}}
    <script src="/javascript/logout.js"></script>
    {{/if}}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
</body>

</html>