<!DOCTYPE html>
<html land="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Food and Drink</title>
    <link href="https://fonts.googleapis.com/css?family=KoHo:wght@400;600;700&display=swap" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link rel="stylesheet" href="/stylesheets/style.css">
</head>

<body>
    <div class="wrapper">
        <header>
            {{!-- <nav> --}}
                <div>
                    <h2>
                        <a class="cyan-text text-darken-3" href="/">Food and Drink</a>
                    </h2>
                    {{#if loggedIn}}
                    <ul class="left">
                        <li><a class="cyan-text text-darken-3" href="/">Homepage</a></li>
                        <li><a class="cyan-text text-darken-3" href="/dashboard">Dashboard</a></li>
                        <li><button id="logout" class="btn-no-style">Logout</button></li>
                    </ul>
                    {{else}}
                    <ul class="left">
                        <li><a class="cyan-text text-darken-3" href="/">Homepage</a></li>
                        <li><a class="cyan-text text-darken-3" href="/login">Login</a></li>
                    </ul>
                    {{/if}}
                </div>
            {{!-- </nav> --}}
        </header>
        <main>
            {{{ body }}}
        </main>
        <footer>
            Thank you for visiting!!
        </footer>
    </div>

    {{#if loggedIn}}
    <script src="/javascript/logout.js"></script>
    {{/if}}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
</body>

</html>