<!-- to store user appplications with ability to delete infomation-->
<section>
    <h4> Add New Recipe</h4>

    <form class="new-post-form">
        <div>
            <label for="post-title">Title</label>
            <input id="post-title" name="post-title" />
        </div>
        <div>
            <label for="post-url">Link</label>
            <input id="post-url" name="post-url" />
        </div>
        <button type="submit" class="waves-effect waves-light btn z-depth-4">Create</button>
    </form>
</section>

<!-- goes to a list of the users recipes that the user can see -->
{{#if posts.length}}
<section>
    <h4> My Recipes </h4>
    <ol class="pantry-posts">
        {{#each posts as |post| }}
        <li class="recipe-info">
            {{> post-info post }}
            <a href="/dashboard/edit/{{post.id}}" class="delete-link">Delete post</a>
        </li>
        {{/each}}
    </ol>
</section>
{{/if}}

<script src="/javascript/add-post.js"></script>