<section>
    <h5> Add New Recipe</h5>

    <form class="new-post-form">
        <div>
            <label for="post-title">Title</label>
            <input id="post-title" name="post-title" />
        </div>
        <div>
            <label for="post-url">Link</label>
            <input id="post-url" name="post-url" />
        </div>
        <button type="submit" class="waves-effect waves-light btn z-depth-4">Create</button>
    </form>
</section>

{{#if posts.length}}
<section>
    <h5> My Recipes </h5>
    <ol>
        {{#each posts as |post| }}
        <li>
            {{> post-info post }}
            <article class="post">
                <a href="/dashboard/edit/{{post.id}}" class="edit-link">Edit Post</a>
            </article>
        </li>
        {{/each}}
    </ol>
</section>
{{/if}}

<script src="/javascript/add-post.js"></script>