<!-- homepage for the user to access all of the recipes -->
<ol class="post-list">
    {{#each posts as |post|}}
    <li>
        <div>
            {{> post-info post }}
        </div>
        <div class="post-user">
            <strong>Posted by {{user.username}} on {{format_date created_at}}</strong>
        </div>
    </li>
    {{/each}}
</ol>