<div class="hero">
  <div class="text-animation">
    <span class="one">The</span>
    <span class="two">Recipe</span>
    <span class="three"> Pantry</span>
    <span class="four" id="paragraph">Donny was a good bowler, and a good man.
      He was one of us. He was a man who loved the outdoors... and bowling, and
      as a surfer he explored the beaches of Southern California, from La Jolla
      to Leo Carrillo and... up to... Pismo. He died, like so many young men of
      his generation, he died before his time. In your wisdom, Lord, you took
      him, as you took so many bright flowering young men at Khe Sanh, at
      Langdok, at Hill 364.
    </span>
  </div>

</div>
<script src="./javascript/anime.min.js"></script>

<script src="./javascript/index.js"></script>
{{#if loggedIn}}
  <script src="/javascript/logout.js"></script>
{{/if}}