<!-- Landing page for user to be introduced to site -->
<div class="hero">
  <div class="text-animation">
    <span class="one">The</span>
    <span class="two">Recipe</span>
    <span class="three"> Pantry</span>
    <span class="four" id="paragraph">Welcome to the Recipe Pantry! A site where you can store all of your favorite
      recipes in one convenient and user-friendly location. Say goodbye to the stress of forgetting where the recipe was
      that you had planned to make, and say hello to your new digital recipe scrapbook.
    </span>
  </div>

</div>
<script src="./javascript/anime.min.js"></script>

<script src="./javascript/index.js"></script>
{{#if loggedIn}}
<script src="/javascript/logout.js"></script>
{{/if}}