<div class="text-animation">
  <span class="one">The</span>
  <span class="two">Recipe</span>
  <span class="three"> Pantry</span>
</div>
<main></main>
<script src="./javascript/anime.min.js"></script>

<script src="./javascript/index.js"></script>