<form class="login-form">
  <div>
    <label for="email-login">Email:</label>
    <input id="email-login" />
  </div>
  <div>
    <label for="password-login">Password:</label>
    <input type="password" id="password-login" />
  </div>
  <div>
    <button
      class="waves-effect waves-light btn z-depth-4"
      type="submit"
    >Login</button>
  </div>
</form>

<form class="signup-form">
  <div>
    <label for="username-signup">Username:</label>
    <input id="username-signup" />
  </div>
  <div>
    <label for="email-signup">Email:</label>
    <input id="email-signup" />
  </div>
  <div>
    <label for="password-signup">Password:</label>
    <input type="password" id="password-signup" />
  </div>
  <div>
    <button
      class="waves-effect waves-light btn z-depth-4"
      type="submit"
    >Signup</button>
  </div>
</form>

<script src="/javascript/login.js"></script>