<!-- User input for a single post -->
<div class="single-post">
    <a class="post-color2 bck" href="/dashboard"> &larr; Back to My Pantry</a>
    </br>
    {{> post-info post}}
    {{#if loggedIn}}
    <form class="comment-form">
        <div>
            <textarea name="comment-body"></textarea>
        </div>
        <div>
            <button class="waves-effect waves-light btn z-depth-4" type="submit">Add Comment</button>
        </div>
    </form>
    {{/if}}
    <!-- Displays the list of comments for that single post -->
    {{> comments post.comments}}
    {{#if loggedIn}}
    <script src="/javascript/comment.js"></script>
    {{/if}}
</div>