<!-- User input for a single post -->
<div class="single-post">
    <a class="post-color2" href="/dashboard"> &larr; Back to My Pantry</a>
    </br>
    {{> post-info post}}

    {{#if loggedIn}}
    <form class="comment-form">
        <div>
            <textarea name="comment-body"></textarea>
        </div>

        <div>
            <button class="waves-effect waves-light btn z-depth-4" type="submit">Add Comment</button>
            <button type="button" class="delete-post-btn waves-effect waves-light btn z-depth-4">Delete Post</button>
        </div>
    </form>

    {{/if}}

    {{> comments post.comments}}
    {{#if loggedIn}}

    <script src="/javascript/comment.js"></script>

    {{/if}}
</div>