* {
  box-sizing: border-box;
}

.hero {
  height: 100vh;
  background: url(../pantry.jpg) no-repeat center center fixed;
  background-size: cover;
  /* font-family: "Fredoka One", sans-serif; */
  font-family: "abril-fatface regular 400", serif;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}

#paragraph {
  font-family: "abril-fatface regular 400", serif;
  font-weight: bold;
  font-size: 40px;
  padding-left: 15px;
  padding-right: 15px;
  font-style: italic;
}
@media screen and (max-width: 400px) {
  #paragraph {
    font-size: 15px;
  }
}

@media screen and (max-width: 1087px) {
  #paragraph {
    font-size: 28px;
  }
}
@media screen and (max-width: 768px) {
  #paragraph {
    font-size: 15px;
  }
}
.text-animation {
  position: relative;
  font-size: 80px;
  font-weight: 800;
  color: rgb(157, 34, 99);
  width: 100vw;
  height: 225px;
  text-align: center;
  line-height: normal;
  background: rgba(204, 204, 204, 0.7);
  /* overflow: hidden; */
}
@media screen and (max-width: 400px) {
  .text-animation {
    height: 235px;
  }
}
.text-animation span {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  opacity: 0;
  text-transform: uppercase;
  letter-spacing: 5px;
}

body {
  height: 100%;
  padding: 0;
  margin: 0;
  font-family: 'lato light 300', sans-serif;
  color: #333;
  background-color: #f2f5ea;
  /* background-color: #fef2ec; */
}

nav {
  background:none;
  box-shadow: none;
  -webkit-box-shadow: none;
}

a {
  text-decoration: none;
  /* color: #225ca3; */
  font-weight: bold;
  transition: color 0.1s;
  /* margin: 8px; */
}

a:hover {
  color: #5c6d70;
}

.navtitle {
  font-family: "abril-fatface regular 400", serif;
  font-size: 40px;
  font-weight: bold;
  padding-left: 20px;
  color: #f4d0d0;
  text-shadow: #333 0px 0px 5px;
}

.navtabs {
  font-family: "abril-fatfaceregular 400", serif;
  font-size: 20px;
  color: #f4d0d0;
  text-shadow: #333 0px 0px 5px;
  /* padding-left: 5px;
  padding-right: 5px; */
}

h4 {
  font-family: "abril-fatface", serif;
  color: #63032e;
}

.bck {
  font-size: 18px;
}

.btn {
  font-family: "abril-fatface", serif;
  background-color: #a36387;
  color: #f2f5ea;
  font-weight: bold;
  padding: 0 12px;
}

.login-form,
.signup-form {
  padding: 2% 4%;
}

.btn:hover {
  background-color: #f4dbdb;
  color: #a36387;
}

button {
  font-family: "abril-fatface", serif;
  font-weight: bold;
  transition: background-color 0.1s;
  cursor: pointer;
  padding: 0px;
}

button:hover {
  background-color: #5c6d70;
}

.post-list {
  margin: 0;
  padding: 2% 4%;
}

textarea,
input {
  padding: 0.5%;
  border-radius: 5px;
  border: 1px solid #ccc;
}

textarea:focus,
input:focus {
  outline: none;
  border: 1px solid #009688;
}

textarea {
  min-width: 40%;
  min-height: 100px;
}

form > div {
  margin-bottom: 2%;
}

form label {
  display: block;
  font-size: 14px;
  color: #5c6d70;
}

form div {
  width: 50%;
}

.page {
  width: 100%;
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

.row {
  margin-bottom: 0px;
}

header {
  background-image: linear-gradient(to bottom right, #4c002b, #a36387, #4c002b);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1%;
  width: 100%;
}

main {
  flex: 1;
  /* padding: 2% 4%; */
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  /* display: flex; */
  font-family: "lato light 300", serif;
}

.single-post {
  padding: 2% 4%;
}

section {
  padding: 2% 4%;
}

.btn-no-style {
  background: none;
  border: none;
  cursor: pointer;
  text-decoration: none;
  color: #f4d0d0;
  text-shadow: #333 0px 0px 5px;
  font-size: 100%;
  font-weight: bold;
  transition: color 0.1s;
}

.btn-no-style:hover {
  background: none;
  color: #5c6d70;
}

.post {
  line-height: 150%;
}

.post-user {
  margin-bottom: 2%;
}

.recipe-info {
  margin-bottom: 2%;
}

.post-color {
  color: #0ca4a5;
  text-decoration: underline;
  font-size: 125%;
}

.post-color2 {
  color: #0b8484;
}

.post .title span {
  font-style: italic;
  font-size: 110%;
  color: rgb(51, 50, 50);
}

.edit-link {
  display: block;
  color: #0b8484;
}

.pantry-posts {
  padding-left: 13px;
}

.delete-post {
  padding: 2% 4%;
}

.comment {
  padding: 1%;
  margin-bottom: 1%;
}

.comment:nth-child(odd) {
  background-color: #fff5eb;
}

.comment .meta {
  font-size: 110%;
  margin-bottom: 0.5%;
  opacity: 0.6;
}

.new-post-form input {
  width: 300px;
}

.edit-post-form {
  margin-bottom: 5%;
}

footer {
  font-family: "Libre Barcode 39 Text", cursive;
  border-top: 1px solid #ccc;
  display: flex;
  justify-content: center;
  padding: 1%;
  font-size: 200%;
}
