/* Basic styling for the site */
* {
  box-sizing: border-box;
}

body {
  height: 100%;
  padding: 0;
  margin: 0;
  font-family: 'lato light 300', sans-serif;
  color: #333;
  background-color: #f2f5ea;
}

.page {
  width: 100%;
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

/* Header and Navigation Bar Sizing and Styling */
header {
  background-image: linear-gradient(to bottom right, #4c002b, #a36387, #4c002b);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1%;
  width: 100%;
}

.row {
  margin-bottom: 0px;
}

nav {
  background:none;
  box-shadow: none;
  -webkit-box-shadow: none;
}

.valign-wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
}

.navtitle {
  font-family: "abril-fatface regular 400", serif;
  font-size: 40px;
  font-weight: bold;
  padding-left: 20px;
  color: #f4d0d0;
  text-shadow: #333 0px 0px 5px;
}

.navtabs {
  font-family: "abril-fatfaceregular 400", serif;
  font-size: 20px;
  color: #f4d0d0;
  text-shadow: #333 0px 0px 5px;
}

/* Main body styling and sizing */
main {
  flex: 1;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  font-family: "lato light 300", serif;
}

/* Hero styling and sizing for the landing page */
.hero {
  height: 100vh;
  background: url(../pantry.jpg) no-repeat center center fixed;
  background-size: cover;
  font-family: "abril-fatface regular 400", serif;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  text-shadow: rgb(242, 178, 234) 0px 0px 2px;
}

.one, .two, .three, .four {
  display: flex;
  justify-content: center;
  align-items: center;
}

#paragraph {
  font-family: "abril-fatface regular 400", serif;
  font-weight: bold;
  font-size: 36px;
  padding-left: 15px;
  padding-right: 15px;
  text-transform: capitalize;
}

.text-animation {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 80px;
  font-weight: 800;
  color: rgb(157, 34, 99);
  width: 100vw;
  height: 275px;
  text-align: center;
  line-height: normal;
  background: rgba(204, 204, 204, 0.7);
}

.text-animation span {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  opacity: 0;
  text-transform: uppercase;
  letter-spacing: 5px;
}

/* Text styling and colors for different text */
a {
  text-decoration: none;
  font-weight: bold;
  transition: color 0.1s;
}

a:hover {
  color: #5c6d70;
}

h4 {
  font-family: "abril-fatface", serif;
  color: #63032e;
}

/* Text sizing for the 'My Pantry' back link */
.bck {
  font-size: 18px;
}

/* Styling and sizing for the different buttons */
.btn {
  font-family: "abril-fatface", serif;
  background-color: #a36387;
  color: #f2f5ea;
  font-weight: bold;
  padding: 0 12px;
}

.btn-no-style {
  background: none;
  border: none;
  cursor: pointer;
  text-decoration: none;
  color: #f4d0d0;
  text-shadow: #333 0px 0px 5px;
  font-size: 100%;
  font-weight: bold;
  transition: color 0.1s;
}

.btn-no-style:hover {
  background: none;
  color: #5c6d70;
}

.btn:hover {
  background-color: #f4dbdb;
  color: #a36387;
}

button {
  font-family: "abril-fatface", serif;
  font-weight: bold;
  transition: background-color 0.1s;
  cursor: pointer;
  padding: 0px;
}

button:hover {
  background-color: #5c6d70;
}

/* Padding to make the pages cohesive looking */
section,
.login-form,
.signup-form,
.single-post,
.delete-post {
  padding: 2% 4%;
}

.post-list {
  margin: 0;
  padding: 2% 4%;
}

.pantry-posts {
  padding-left: 13px;
}

.post {
  line-height: 150%;
}

.post-user, .recipe-info {
  margin-bottom: 2%;
}

/* Create Recipe Form/Post styling and sizing */
form div {
  width: 50%;
}

form > div {
  margin-bottom: 2%;
}

form label {
  display: block;
  font-size: 14px;
  color: #5c6d70;
}

textarea,
input {
  padding: 0.5%;
  border-radius: 5px;
  border: 1px solid #ccc;
}

textarea:focus,
input:focus {
  outline: none;
  border: 1px solid #009688;
}

textarea {
  min-width: 40%;
  min-height: 100px;
}

/* Post's display styling and sizing */
.new-post-form input {
  width: 300px;
}

.post-color {
  color: #0ca4a5;
  text-decoration: underline;
  font-size: 125%;
}

.post-color2 {
  color: #0b8484;
}

.post .title span {
  font-style: italic;
  font-size: 110%;
  color: rgb(51, 50, 50);
}

.delete-link {
  display: block;
  color: #0b8484;
}

/* Post's comment styling and sizing */
.comment {
  padding: 1%;
  margin-bottom: 1%;
}

.comment:nth-child(odd) {
  background-color: #fff5eb;
}

.comment .meta {
  font-size: 110%;
  margin-bottom: 0.5%;
  opacity: 0.6;
}

/* Footer styling and sizing */
footer {
  font-family: "Libre Barcode 39 Text", cursive;
  border-top: 1px solid #ccc;
  display: flex;
  justify-content: center;
  padding: 1%;
  font-size: 200%;
}

/* All media queries */
@media screen and (max-width: 400px) {
  #paragraph {
    font-size: 15px;
  }
  .text-animation {
    height: 275px;
    font-size: 46px;
  }
  header {
    height: 200px;
  }
  .row {
    display: flex;
    flex-direction: column;
  }
  .navtitle {
    font-size: 34px;
  }
  nav {
    line-height: normal;
  }
  .navtabs, .btn-no-style {
    font-size: 14px;
    padding-left: 0px;
  }
  .navcontent {
    display: flex;
    align-items: center;
  }
  .valign-wrapper {
    display: flex;
  }
}

@media screen and (max-width: 1087px) {
  #paragraph {
    font-size: 28px;
  }
}

@media screen and (max-width: 768px) {
  #paragraph {
    font-size: 15px;
  }
}